$fuente: oblique;
$color-parra: black;
$tamaño: 1.2rem;  

header {
    background-image: url("../imagenes/imagen3.jpg");
    height: 350px;
    margin-bottom: 40px;
}

footer {
    background: rgb(76,76,76);
    background: linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(102,102,102,1) 0%,rgba(89,89,89,1) 5%,rgba(17,17,17,1) 43%,rgba(17,17,17,1) 43%,rgba(0,0,0,1) 54%,rgba(0,0,0,1) 100%,rgba(17,17,17,1) 100%,rgba(17,17,17,1) 100%,rgba(43,43,43,1) 100%,rgba(28,28,28,1) 100%,rgba(17,17,17,1) 100%,rgba(19,19,19,1) 100%);
}

.direccionFooter {
	color: white;
	list-style-type: none;
	text-align: center;
}

.tituloFooter {
	color: #850000;
	text-align: center;
}

.redesSociales {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagenRedes {
    margin: 10px;
}

.copy {
    color: white;
    text-align: center;
    font-weight: bolder;
}



.imgwhat {
  width: 25px;
   }

span {
    color: green;
}

body {
  padding-top: 56px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}



.index__parrafo {
    font-style: $fuente;
    color: $color-parra;
    font-size: $tamaño
}

.index__subtitulos {
    color: black;
    font-weight: bolder;
}

.index__titulo--principal {
    @extend .index__subtitulos;
    font-size: 3rem;
    text-align: center;  
} 


@mixin parrafo3 {
    text-align: justify;
    color: black;
}

.index__parrafosecundario {
    font-family: italic;
    font-size:  1.2rem;
    @include parrafo3;
}
